// Переменные
@use "sass:color";

$primary-color: #3498db;
$cancel-color: #e74c3c;
$ok-color: #2ecc71;
$border-radius: 4px;
$box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

.cookie-modal {


    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #fff;
    border-radius: $border-radius;
    border-radius: 10px;
    box-shadow: $box-shadow;
    overflow: hidden;

    &__inner {}

    &__header {
        padding: 20px;
        background: gray;
        min-height: 40px;
    }

    &__content {
        font-size: 16px;
        margin-bottom: 20px;
        padding: 20px;
    }



}